.wedocs-breadcrumb.breadcrumb {
  background-color: transparent;
  padding-left: 0;
  border-radius: 0;
  border-bottom: 1px solid #edf6fc;
  margin-bottom: 50px;
  margin-top: -32px; }
  .wedocs-breadcrumb.breadcrumb a:hover, .wedocs-breadcrumb.breadcrumb a:focus, .wedocs-breadcrumb.breadcrumb a:active {
    text-decoration: none; }

.docs-subcategories {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 2em; }
  .docs-subcategories li {
    border-top: 1px solid #edf6fc;
    border-bottom: 1px solid #edf6fc;
    margin-top: -1px;
    padding: 15px 0; }
    .docs-subcategories li.has-children h4::before {
      content: "\f114"; }
    .docs-subcategories li h4 {
      margin: 0;
      display: flex;
      align-items: center; }
      .docs-subcategories li h4:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: 1.758em;
        content: "\f0f6"; }
      .docs-subcategories li h4 a {
        display: flex;
        justify-content: space-between;
        width: 100%; }
        .docs-subcategories li h4 a:hover, .docs-subcategories li h4 a:active, .docs-subcategories li h4 a:focus {
          text-decoration: none; }

.wedocs-single-content.has-sidebar {
  display: flex; }
  .wedocs-single-content.has-sidebar .hentry, .wedocs-single-content.has-sidebar .sidebar {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; }
  .wedocs-single-content.has-sidebar .hentry {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    			/*-ms-flex: 0 0 75%;
        		flex: 0 0 75%;
    			max-width: 75%;*/
    border-right: 1px solid #edf6fc; }
  .wedocs-single-content.has-sidebar .sidebar {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    /*-ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;*/ }
.wedocs-single-content .entry-content > h2 {
  border-bottom: 1px solid #e9ecef;
  line-height: 1.653em; }
.wedocs-single-content .entry-content img {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 2px #f3f3f3;
  -moz-box-shadow: 0 0 0 2px #f3f3f3;
  box-shadow: 0 0 0 2px #f3f3f3;
  padding: 5px; }

.anchorjs-link:hover, .anchorjs-link:active, .anchorjs-link:focus {
  text-decoration: none; }

#table-of-contents {
  background-color: #edf6fc;
  padding: 25px;
  border-radius: 0.3rem;
  margin-bottom: 2em; }
  #table-of-contents ol, #table-of-contents ul {
    margin: 0 0 1.758rem;
    padding: 0; }
  #table-of-contents > ol {
    margin-bottom: 0; }
  #table-of-contents > ol > li li a {
    font-weight: 400;
    padding: 2px 0; }
  #table-of-contents > ol > li a {
    font-weight: 600;
    display: block;
    padding: 4px 0; }
    #table-of-contents > ol > li a:hover, #table-of-contents > ol > li a:active, #table-of-contents > ol > li a:focus {
      text-decoration: none; }
  #table-of-contents li {
    margin-left: 17px;
    font-size: 14px;
    color: #999;
    line-height: 24px; }
    #table-of-contents li li {
      margin-left: 10px; }
  #table-of-contents li ul,
  #table-of-contents li ol {
    margin: .41em 0 .64em 0; }

.sibling-navigation {
  margin-bottom: 2em; }
  .sibling-navigation > ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0; }
  .sibling-navigation h4 {
    margin-bottom: 10px; }
  .sibling-navigation .list-sibling-pages {
    position: relative;
    margin-left: 5px; }
    .sibling-navigation .list-sibling-pages:after {
      border-left: 1px solid #ddd;
      position: absolute;
      height: 100%;
      content: ' ';
      top: 0; }
    .sibling-navigation .list-sibling-pages > li {
      margin-left: 15px;
      position: relative; }
      .sibling-navigation .list-sibling-pages > li:after {
        content: ' ';
        position: absolute;
        border-bottom: 1px solid #ddd;
        top: 50%;
        width: 10px;
        margin-left: -15px; }
      .sibling-navigation .list-sibling-pages > li a {
        display: block;
        font-size: 14px;
        font-weight: 500;
        padding: 6px 0; }
      .sibling-navigation .list-sibling-pages > li.current_page_item a {
        color: #212529; }

.heading-search {
  margin-bottom: 50px; }
  .heading-search .search-in-docs {
    height: 48px !important; }
  .heading-search .form-row, .heading-search .form-group {
    margin-bottom: 0; }

.wedocs-doc-nav {
  border-top: 1px solid #edf6fc;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 14px; }

.entry-footer {
  margin: 1.2em 0; }

.masdocs-featured-item {
  text-align: center;
  margin-bottom: 1.1em; }
  .masdocs-featured-item .masdocs-featured-item-link {
    display: block; }
    .masdocs-featured-item .masdocs-featured-item-link:hover, .masdocs-featured-item .masdocs-featured-item-link:focus, .masdocs-featured-item .masdocs-featured-item-link:active {
      text-decoration: none; }
  .masdocs-featured-item .masdocs-featured-item-image {
    border: 1px solid #eaeaea;
    border-top-width: 20px;
    margin-bottom: 1em;
    position: relative;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
    .masdocs-featured-item .masdocs-featured-item-image::before {
      content: "\f111 \0020 \f111 \0020 \f111";
      color: #c4c4c4;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 8px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      top: -14px;
      left: 5px; }

/*# sourceMappingURL=wedocs.css.map */
