body {
    font-family: proxima-nova, 'Montserrat', sans-serif;
    line-height: 1.75em;
    -webkit-font-smoothing: antialiased;
}

img {
    @include img-fluid;
}

.screen-reader-text {
    @include sr-only();
}