@include media-breakpoint-up(md) {
    .site-content {
        .container {
            max-width: 100%;
        }
    }

    .site-content-inner {
        @include make-row();
        margin-left: 0;
        margin-right: 0;

        .content-area, .sidebar-area {
            @include make-col-ready();
        }

        .content-area {
            flex: 0 0 calc( 100% - 270px );
            max-width: calc( 100% - 270px );
            order: 1;
        }

        .sidebar-area {
            @include make-col(3);
            flex: 0 0 270px;
            max-width: 270px;
            order: 0;
            position: sticky;
            position: -webkit-sticky;
            top: 28px;
            height: calc( 100vh - 28px );
        }
    }

    .site-main-inner {
        margin: 0 88px;
    }

    .site-content-inner {
        padding-left: calc( ( 100% - 738px) / 2 );
    }

    .content-area-inner {
        @include make-row();
        padding-right: calc( ( ( 100% - 738px) / 2 ) - 32px );

        .site-main {
            @include make-col-ready();
            flex: 0 0 100%;
            max-width: 100%;
        }

        &.has-site-aside {
            .site-main {
                flex: 0 0 calc( 100% - 200px );
                max-width: calc( 100% - 220px );
            }
        }

        .site-aside {
            @include make-col-ready();
            flex: 0 0 220px;
            max-width: 220px;
            position: sticky;
            position: -webkit-sticky;
            top: 28px;
            height: calc( 100vh - 28px );
        }
    }
}

@include media-breakpoint-up(lg) {
    .site-content-inner {
        padding-left: calc( ( 100% - 962px) / 2 );
    }

    .content-area-inner {
        padding-right: calc( ( ( 100% - 962px ) / 2 ) - 32px );
    }
}

@media (min-width: 1200px ) {
    .container {
        max-width: 1200px;
        padding: 0;
    }

    .site-content-inner {
        padding-left: calc( ( 100% - 1200px) / 2 );
    }

    .content-area-inner {
        padding-right: calc( ( ( 100% - 1200px ) / 2 ) - 32px );
    }
}

@media (min-width: 1400px ) {
    .container {
        max-width: 1400px;
        padding: 0;
    }

    .site-content-inner {
        padding-left: calc( ( 100% - 1400px) / 2 );
    }

    .content-area-inner {
        padding-right: calc( ( ( 100vw - 1400px ) / 2 ) - 32px );
    }
}