.content-area {
    padding-top: 1.75em;
    padding-bottom: 4.5em;
    background-color: #fff;
}

.site-content {
    background-color: #f5f7f9;
}

.sidebar-area {
    padding-top: 1.75em;
    padding-bottom: 4.5em;
}

.entry-title, .page-title {
    margin-top: 12px;

    a {
        color: #495057;
        
        @include hover-focus() {
            color: #007bff;
            text-decoration: none;
        }
    }
}

hr {
    border-top-color: #edf6fc;
}

.entry-content {
    > *:first-child {
        margin-top: 0;
    }

    img {
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        -webkit-box-shadow: 0 0 0 2px #f3f3f3;
        -moz-box-shadow: 0 0 0 2px #f3f3f3;
        box-shadow: 0 0 0 2px #f3f3f3;
        padding: 5px;
    }
}

.docs-subcategories, .wedocs-doc-sections {
    @include list-unstyled();

    > li {
        border-top: 1px solid #edf6fc;
        border-bottom: 1px solid #edf6fc;
        margin-top: -1px;

        &:first-child {
            border-top: none;
        }
    }

    h4, > li > a {
        margin: 0;
        display: flex;
        align-items: center;
        font-size: 1em;
        padding: 1em 0;
        font-weight: 600;
        width: 100%;

        &:before {
            @include fa-icon();
            width: 1.758em;
            content: "\f15c";
            font-family: 'Font Awesome 5 Free';
            font-weight: 400;
            flex: 0 0 1.758em;
        }
    }

    h4 {
        a {
            display: flex;
            justify-content: space-between;
            width: 100%;

            &:hover, &:active, &:focus {
                text-decoration: none;
            }
        }
    }
}

.wedocs-docs-list {
    @include list-unstyled();
    list-style-type: decimal;
    list-style-position: inside;
    @include make-row();

    .wedocs-docs-single {
        @include make-col-ready();
        @include make-col(6);
        color: #495057;
        font-size: 1em;
        font-weight: 700;
        margin-bottom: 1em;

    }

    h3 {
        display: inline-block;
        width: 90%;
    }

    h3 a {
        color: #495057;
        font-size: 1em;
        display: inline-block;
    }
}

.wedocs-doc-sections {
    margin-bottom: 0.5em;

     > li > a {
        color: #495057;
        padding: 0.45em 0;
        font-weight: 300;
    }

    > li:nth-child(n+5) {
        display: none;
    }

    &.toggled {
        > li:nth-child(n+5) {
            display: block;
        }
    }
}

.wedocs-entry-footer, .entry-footer {
    display: flex;
    justify-content: space-between;
    color: #9DAAB6;
    border-top: 1px solid #edf6fc;
    padding: 1.5em 0;
    margin-top: 2em;

    a {
        color: darken( #9DAAB6, 20% );
    }
}

.wedocs-doc-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 0;

    a {
        color: #676767;
        font-weight: 500;

        @include hover-focus() {
            text-decoration: none;
            color: #007bff;
        }
    }

    > div {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .nav-next {
        text-align: right;
    }

    .nav-previous a,
    .nav-prev a {
        transition: all,ease,.3s;
        display: block;
        
        &:hover {
            transform: translate(-13px);
        }
    }
    
    .nav-next a {
        transition: all,ease,.3s;
        display: block;

        &:hover {
            transform: translate(13px);
        }
    }
}

.post-author {
    img {
        border-radius: 50%;
    }
}

.published:not(.updated) {
    display: none;
}