.wedocs-breadcrumb.breadcrumb {
	background-color: transparent;
	padding-left: 0;
	border-radius: 0;
	border-bottom: 1px solid #edf6fc;
	margin-bottom: 50px;
	margin-top: -32px;

	a:hover, a:focus, a:active {
		text-decoration: none;
	}
}