.sibling-navigation {
	margin-bottom: 2em;

	h4 {
		margin-bottom: 1.2em;
	}

	.list-sibling-pages {
		margin-left: -15px;
		> li {

			a {
				display: block;
				font-size: 14px;
				padding: 10px 15px;
				border-bottom: 1px solid #edf6fc;
				border-top: 1px solid #edf6fc;
				margin-top: -1px;
				font-weight: 500;
			}

			&.current_page_item {
				a {
					color: #212529;
					background-color: #f8f9fa;
				}
			}
		}
	}
}