.sibling-navigation {
	margin-bottom: 2em;

	> ul {
		padding-left: 0;
		list-style: none;
		margin-bottom: 0;
	}

	h4 {
		margin-bottom: 10px;
	}

	.list-sibling-pages {
		position: relative;
		margin-left: 5px;

		&:after {
			border-left: 1px solid #ddd;
			position: absolute;
			height: 100%;
			content: ' ';
			top: 0;
		}

		> li {
			margin-left: 15px;
			position: relative;
			
			&:after {
				content: ' ';
				position: absolute;
				border-bottom: 1px solid #ddd;
				top: 50%;
				width: 10px;
				margin-left: -15px;
			}
			
			a {
				display: block;
				font-size: 14px;
				font-weight: 500;
				padding: 6px 0;
			}

			&.current_page_item {
				a {
					color: #212529;
				}
			}
		}
	}
}