#table-of-contents {
    padding: 25px;
    border-radius: 0.3rem;
    margin-bottom: 2em;

    ol, ul {
    	margin: 0 0 1.758rem;
    	padding: 0;
    }

    > ol {
    	margin-bottom: 0;
    }

    > ol > li li a {
    	font-weight: 400;
        padding: 2px 0;
    }

    > ol > li a {
    	font-weight: 400;
        display: block;
        padding: 4px 0;

    	&:hover, &:active, &:focus {
    		text-decoration: none;
    	}
    }

    li {
    	margin-left: 17px;
        font-size: 14px;
        color: #999;
        line-height: 24px;

        li {
            margin-left: 10px;
        }
    }

    li ul,
    li ol {
    	margin: .41em 0 .64em 0;
    }

    .children {
        display: none;
    }

    .child-indicator {
        &::after {
            content: "\f107";
            font-family: fontawesome;
            display: inline-block;
            margin-left: 15px;
        }
    }

    li.current_page_ancestor,
    li.current_page_item {
        
        > a {
            font-weight: 600;
        }

        .children {
            display: block;
        }

        .child-indicator::after {
            content: "\f106";
        }
    }

    .toggled.page_item_has_children {
        &.current_page_ancestor .children,
        &.current_page_item .children {
            display: none;

            .child-indicator::after {
                content: "\f107";
            }
        }

        .children {
            display: block;
        }

        .child-indicator::after {
            content: "\f106";
        }
    }
}